.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
}

.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.coming__soon{
    height: 101px;
    left: 576px;
    position: absolute;
    top: 5912px;
    width: 151px;
    z-index: 9;
}
.coming__soon_1{
    height: 101px;
    left: 576px;
    position: absolute;
    top: 5912px;
    width: 151px;
    z-index: 9;
}
/* ================= media queries====================== */
@media screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    .coming__soon{
        top: 8309px;
    left: 427px;
    }
}

@media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .coming__soon{
        top: 15939px;
    left: -2px;
    }
    .coming__soon_1{
        top: 15939px;
        left: -2px;
    }
}